#yahaha {
  margin-top: 10px;
  position: relative;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation: myfirst 6s linear infinite;
  -webkit-animation-direction: alternate-reverse;
  -moz-animation: myfirst 6s linear infinite;
  -moz-animation-direction: alternate-reverse;
  animation: myfirst 6s linear infinite;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes myfirst {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  50% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100%  {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes myfirst {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  50% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100%  {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes myfirst {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  50% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100%  {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}