// Typography
$font-family-main: Helvetica, Arial, sans-serif;
$font-family-headings: Helvetica, Arial, sans-serif;
$font-family-code: 'Consolas';
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 2%;
$padding-x-small: 1%;

// Brand colours
$brand-color: #eee;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #005CAF;
$header-desc-text-color: #FFF;

// Blockquote colour
$blockquote-color: #607d8b;
$blockquote-backgroud-color: #f2f2f2;

// Code Highlighter colour
$code-hightlighter-color: #464646;
$code-hightlighter-background-color: #dadada;
$code-hightlighter-padding: 0.3em;